@model Category

<div class="card-body">
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-person fs-5"></i>
            </span>
            <input id="CategoryId" value="@Model.CategoryId" name="CategoryId">
            <input id="CategoryName" value="@Model.CategoryName" name="CategoryName" minlength="3" type="text" required class="form-control required">
        </div>
        <div class="text-danger"></div>
    </div>
</div>
<div class="card-footer">
    <input type="submit" value="Salvar" class="btn btn-primary" />
    <a class="btn btn-warning" asp-action="Index">Voltar para lista</a>
</div>