@model WebApplication2.Models.Manufacturer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Edição de Fabricantes";
}

<form asp-action="Edit" id="manufacturer-edit-form">
    <div class="card">
        <div class="card-header">
            <h4>Criar nova categoria</h4>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Name" class="form-label mr">Nome do fabricante</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person fs-5"></i>
                    </span>
                    <input id="ManufacturerId" hidden value="@Model.ManufacturerId">
                    <input id="Name" value="Name" name="Name" minlength="3" type="text" class="form-control">
                </div>
                <div class="text-danger"></div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" />
            <a class="btn btn-warning" asp-action="Index">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section ScriptPage{
    <script>
        $(document).ready(function () {
            $('a.active').removeClass('active');
            $('a#manufacturer').addClass('active');
            $.validator.setDefaults({ ignore: ":hidden" });
            $("#manufacturer-edit-form").validate(
                {
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent().siblings(':last'));
                    },
                    errorClass: "text-danger",
                    validClass: "text-success",
                });
          
        });
    </script>
}


