@model Manufacturer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Edição de Fabricantes";
}

<form asp-action="Edit" id="manufacturer-edit-form">
    <div class="card">
        <div class="card-header">
            <h4>Editar Fabricante</h4>
        </div>
       <partial name="~/Views/Partial/Card/Manufacturer-Card" for="@Model" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section ScriptPage{
    <script>
        $(document).ready(function () {
            $('a.active').removeClass('active');
            $('a#manufacturer').addClass('active');
            $.validator.setDefaults({ ignore: ":hidden" });
            $("#manufacturer-edit-form").validate(
                {
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent().siblings(':last'));
                    },
                    errorClass: "text-danger",
                    validClass: "text-success",
                });
          
        });
    </script>
}


